
     <%- include(('header')) %>
     <div id="content">
     <hr>
      Experiência em gerência e desenvolvimentos de projetos em C# utilizando IDE Visual Studio. 
      Desenvolvimento de projetos em JSF, SPRING, JAVA, ANDROID. Projetos em Angular.
       banco de dados Oracle, Postgree, mysql.
    
     <hr>
        
        <h2>Formação</h2>
        <div>
            <h3>2005-2007</h3>
            <ul>
                <li>
                    <p>Especialização em MBA Desenvolvimento de Sistemas Web CH-360</p>
                    <p>Centro Universitário Luterano de Ji-Parana-RO</p>
                </li>
            </ul>
        </div>
        <div>
            <h3>1998-2004</h3>
                <ul>
                    <li>
                        <p>Especialização em MBA Desenvolvimento de Sistemas Web CH-360</p>
                        <p>Centro Universitário Luterano de Ji-Parana-RO</p>
                    </li>
                </ul>
        </div>
        <h2>Formação Complementar</h2>
        <div>
            <h3>2012-2012</h3>
            <ul>
                <li>
                    <p>Programação Android</p>
                    <p>Caelum Treinamentos</p>
                </li>
            </ul>
        </div>
        <div>
            <h3>2008-2008</h3>
            <ul>
                <li>
                    <p>Consultor Java</p>
                    <p>Caelum Treinamentos</p>
                </li>
            </ul>
        </div>
    </div>
  
            <%- include(('footer')) %>